section {
    width: 1400px;
    min-height: 600px;
    background-color: rgb(223, 223, 8);
    margin: auto;
}

.answer {
    display: none;
}

@media only screen and (max-width: 1400px) {
    section {
        width: 100%;
        min-height: initial;
        height: 200px;
        background-color: green;
    }

    .answer {display: none;}
}

@media only screen and (max-width: 800px) {
    section {
        width: 100%;
        min-height: initial;
        height: 200px;
        background-color: red;
    }

    .answer {
        display:block;
    }

}