.sec1 {
    margin-left: 20px;
    margin-top: 20px;
}

body {
    background-color: white;
}

form {
    margin: 0 auto;
    width: 700px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 10px;
}

#name {
    margin: 5px;
}

#user_msg {
    margin: 5px;
}

.label {
    margin: 5px;
}

h1 {
text-align: center;
}

#password {
    margin: 5px;
    margin-left: 20px;
}

#mail {
    margin: 5px;
    margin-left: 20px;
}

#file {
    margin: 5px;
}

.submit {
    margin: 10px;
    margin-left: 250px;
    padding: 10px;
}

fieldset {
    border-radius: 10px;
}

#p1 {
    font-weight: bold;
    text-align: center;
}

input[placeholder] {
    text-align: justify;
}
.reset {
    margin-left: 20px;
    padding: 10px;
}