table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

tr:nth-child(2) td:nth-child(2), tr:nth-child(3) td:nth-child(even), tr:nth-child(4) td:nth-child(2), tr:nth-child(4) td:nth-child(6) {
    background-color: yellow;
}

tr:nth-child(7) td:nth-child(2), tr:nth-child(7) td:nth-child(6), tr:nth-child(8) td:nth-child(even), tr:nth-child(9) td:nth-child(even) {
    background-color: yellow;
}

tr:nth-child(10) td:nth-child(even), tr:nth-child(11) td:nth-child(even), tr:nth-child(12) td:nth-child(3), tr:nth-child(13) td:nth-child(even), tr:nth-child(14) td:nth-child(even) {
    background-color: yellow;
}

tr:nth-child(15) td:nth-child(even), tr:nth-child(16) td:nth-child(even) {
    background-color: yellow;
}

tr:nth-child(3) td:nth-child(3), tr:nth-child(4) td:nth-child(3), tr:nth-child(4) td:nth-child(5), tr:nth-child(5) td:nth-child(3), tr:nth-child(5) td:nth-child(7){
    background-color: grey;
}

tr:nth-child(6) td:nth-child(3), tr:nth-child(6) td:nth-child(7), tr:nth-child(7) td:nth-child(3), tr:nth-child(7) td:nth-child(5), tr:nth-child(8) td:nth-child(3){
    background-color: grey;
}

tr:nth-child(5) td:nth-child(3n+2), tr:nth-child(6) td:nth-child(3n+2), tr:nth-child(9) td:nth-child(3), tr:nth-child(9) td:nth-child(5), tr:nth-child(10) td:nth-child(3n+3) {
    background-color: black;
}

tr:nth-child(17) td:nth-child(even), tr:nth-child(18) td:nth-child(even), tr:nth-child(19) td:nth-child(even), tr:nth-child(20) td:nth-child(even){
    background-color: black;
}

tr:nth-child(12) td:nth-child(even), tr:nth-child(13) td:nth-child(3), tr:nth-child(14) td:nth-child(3), tr:nth-child(15) td:nth-child(3), tr:nth-child(16) td:nth-child(3) {
    background-color: blue;
}

tr:nth-child(17) td:nth-child(3), tr:nth-child(18) td:nth-child(3) {
    background-color: blue;
}

tr:nth-child(21) td:nth-child(1n+1) {
    background-color: green;
}